/* PALETTE: HOLLOW https://lospec.com/palette-list/hollow */

@font-face {
    font-family: "8-bit_arcade_inmedium";
    src: url("font/8-bit_arcade_in-webfont.woff2") format("woff2"),
            url("font/8-bit_arcade_in-webfont.woff") format("woff"),
            url("font/8-bit_arcade_in-webfont.ttf") format("truetype"),
            url("font/8-bit_arcade_in-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "8-bit_arcade_inmedium";
    background: #0f0f1b; 
    padding-bottom: 30px;
    padding-top: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: stretch;
}

#header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px; 
    background: #0f0f1b;
    border-bottom: 5px solid #565a75;
}

h1 {
    position: absolute;
    display: inline-block;
    margin-top: 10px;
    margin-left: 355px;
    font-family: "8-bit_arcade_inmedium";
    color: #565a75;
    font-size: 180px;
    top: -70px;
}

.modal-overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-window {
	width: 700px;
    height: 500px;
	background: #565a75;
	border: 1px solid #fafbf6 ;
	font-size: 16px;
	box-shadow: 0 0 15px #0f0f1b;
}

.modal-titlebar {
	height: 70px;
	background: #0f0f1b;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.modal-title {
	margin-left: 100px;
    font-family: "8-bit_arcade_inmedium";
    font-size: 50px;
	color: #565a75;
}

.modal-content {
    margin-left: 75px;
    padding: 15px;
	font-family: "8-bit_arcade_inmedium";
    font-size: 45px;
    color: #0f0f1b;
}

.modal-buttons {
    display: flex;
    flex-direction: row;
}

#popUpVs {
    text-align: center;
    width: 220px;
    height: 50px;
    margin-left: 100px;
    font-family: "8-bit_arcade_inmedium";
    font-size: 35px;
    border: 1px solid #c6b7be ;
    color: #565a75;
    background-color: #0f0f1b;
}

#popUpCpu{
    text-align: center;
    width: 150px;
    height: 50px;
    margin-left: 90px;
    font-family: "8-bit_arcade_inmedium";
    font-size: 35px;
    border: 1px solid #c6b7be ;
    color: #565a75;
    background-color: #0f0f1b;
}

.popUpButton:hover{
    cursor: pointer; 
    box-shadow: 2px 0 0 #fafbf6, -2px 0 0 #fafbf6, 0 2px 0 #fafbf6, 0 -2px 0 #fafbf6, 1px 1px #fafbf6, -1px -1px 0 #fafbf6,
    1px -1px 0 #fafbf6, -1px 1px 0 #fafbf6;
}

#modal-info{
    text-align: center;
    padding: 15px;
	font-family: "8-bit_arcade_inmedium";
    font-size: 30px;
    color: #0f0f1b;
}

#p1NameBar {
    width: 120px;
    height: 50px;
    margin-left: 230px;
    font-family: "8-bit_arcade_inmedium";
    font-size: 30px;
    color: #fafbf6;
    background-color: #0f0f1b;
}

#popUpP1NameOk {
    margin-top: inherit;
    margin-left: 15px;
    height: 53px;
    width: 50px;
    font-family: "8-bit_arcade_inmedium";
    font-size: 40px;
    text-align: center;
    color: #565a75;
    border: 1px solid #c6b7be;
    background-color: #0f0f1b;
}

#popUpP1NameOk:hover{
    cursor: pointer; 
    box-shadow: 2px 0 0 #fafbf6, -2px 0 0 #fafbf6, 0 2px 0 #fafbf6, 0 -2px 0 #fafbf6, 1px 1px #fafbf6, -1px -1px 0 #fafbf6,
    1px -1px 0 #fafbf6, -1px 1px 0 #fafbf6;
}

#p2NameBar {
    width: 120px;
    height: 50px;
    margin-left: 230px;
    font-family: "8-bit_arcade_inmedium";
    font-size: 30px;
    color: #fafbf6;
    background-color: #0f0f1b;
}

#popUpP2NameOk {
    margin-top: inherit;
    margin-left: 15px;
    height: 53px;
    width: 50px;
    font-family: "8-bit_arcade_inmedium";
    font-size: 40px;
    text-align: center;
    color: #565a75;
    border: 1px solid #c6b7be;
    background-color: #0f0f1b;
}

#popUpP2NameOk:hover{
    cursor: pointer; 
    box-shadow: 2px 0 0 #fafbf6, -2px 0 0 #fafbf6, 0 2px 0 #fafbf6, 0 -2px 0 #fafbf6, 1px 1px #fafbf6, -1px -1px 0 #fafbf6,
    1px -1px 0 #fafbf6, -1px 1px 0 #fafbf6;
}

#resultDivOverlay {
    position: fixed;
    width: 100vw; 
    height: 100vh; 
    top: 0; 
    left: 0; 
    background: rgba(0, 0, 0, 0.5); 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

#resultDiv {
    width: 300px; 
    height: 200px; 
    background: #565a75; 
    border: 1px solid #fafbf6; 
    font-size: 16px; 
    box-shadow: 0 0 15px #0f0f1b;
}

#resultDivTitleBar {
    height: 70px; 
    background: #0f0f1b; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

#resultDivTitle {
    margin-left: 45px; 
    margin-bottom: 10px; 
    font-family: '8-bit_arcade_inmedium'; 
    font-size: 70px; 
    color: #565a75;
}

#resultDivContent {
    line-height: 35px; 
    text-align: center; 
    margin-left: 10px; 
    margin-top: -10px; 
    padding: 15px; 
    font-family: '8-bit_arcade_inmedium'; 
    font-size: 45px; 
    color: #0f0f1b;
}

#resultOkButton {
    cursor: pointer; 
    margin-left: 130px; 
    margin-top: -5px; 
    height: 30px; 
    width: 40px; 
    font-family: '8-bit_arcade_inmedium'; 
    font-size: 25px; 
    text-align: center; 
    color: #565a75; 
    border: 1px solid #c6b7be; 
    background-color: #0f0f1b;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

#scores {
    order: 0;
    margin-left: 60px;
    margin-top: 150px;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    font-family: "8-bit_arcade_inmedium";
    color: #565a75;
    font-size: 35px;
}

#player1 {
    display: flex;
    flex-direction: column;    
    flex-wrap: wrap;
}

#display1A {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    margin-top: -100px;
}

#player1namedisplay {
    margin-left: 60px;
}

#player1name {
    margin-left: 25px;
}

#display1B {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    margin-top: -100px;
}

#player1scoredisplay {
    margin-left: 60px;    
}

#playeronescore {
    margin-left: 25px;
}

#player2 {
    margin-top: -45px;
    display: flex;
    flex-direction: column;    
    flex-wrap: wrap;
}

#display2A {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    margin-top: -100px;
}

#player2namedisplay {
    margin-left: 60px;
}

#player2name {
    margin-left: 25px;
}

#display2B {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    margin-top: -100px;
}

#player2scoredisplay {
    margin-left: 60px;    
}

#playertwoscore {
    margin-left: 25px;
}

#board {
    order: 1;
    display: flex;
    flex-direction: column;
}

.game-board{
    margin-left: -50px;
    margin-top: 150px;
	width: 500px;
	height: 500px;
    background-color: #fafbf6;
    border: 6px solid #565a75;
    border-radius: 10px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box{
    border: 6px solid #565a75;
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c6b7be;
}

#gamemode {
    order: 2;
    margin-left: 130px;
    margin-top: 180px;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

#gamemodetitle {
    display: flex;
    flex-direction: column;    
    flex-wrap: wrap;
    font-family: "8-bit_arcade_inmedium";
    color: #565a75;
    font-size: 40px;
}

#modebuttons {
    display: flex;
    flex-direction: column;    
    flex-wrap: wrap;
    font-size: 35px;
}

#vsplayer2 {
    margin-top: -50px;
    margin-left: 30px;
    
}

#vsCPU {
    margin-top: -50px;
    margin-left: 30px;
}

.selectbutton:hover {
    cursor: pointer; 
    text-shadow: 2px 0 0 #fafbf6, -2px 0 0 #fafbf6, 0 2px 0 #fafbf6, 0 -2px 0 #fafbf6, 1px 1px #fafbf6, -1px -1px 0 #fafbf6,
    1px -1px 0 #fafbf6, -1px 1px 0 #fafbf6;
}