/* PALETTE: HOLLOW https://lospec.com/palette-list/hollow */

@font-face {
    font-family: "8-bit_arcade_inmedium";
    src: url("font/8-bit_arcade_in-webfont.woff2") format("woff2"),
         url("font/8-bit_arcade_in-webfont.woff") format("woff"),
          url("font/8-bit_arcade_in-webfont.ttf") format("truetype"),
          url("font/8-bit_arcade_in-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "8-bit_arcade_inmedium" !important;
}

body {
    background:  #0f0f1b; 
    padding-bottom: 30px;
    padding-top: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: stretch;
}

#header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px; 
    background:   #0f0f1b  ;
    border-bottom: 5px solid #565a75   ;
}

h1 {
    position: absolute;
    display: inline-block;
    margin-top: 10px;
    margin-left: 355px;
    color:  #565a75   ;
    font-size: 180px;
    top: -70px;

    
}

.game-board{
    margin-left: 520px;
    margin-top: 120px;
	width: 500px;
	height: 500px;
    background-color: #fafbf6 ;
    /*color: #fff; */
    border: 6px solid   #565a75     ;
    border-radius: 10px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box{
    border: 6px solid   #565a75  ;
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    color:   #c6b7be;
}